#dices {
	display: flex;
	justify-content: space-around;
  }

  .container {
	width: 100%;
	margin: auto;
	text-align: center;
  }

  .dice {
	color: #4ecca3;
	text-align: center;
	display: inline-block;
	margin: 10px;
  }
  body {
	background-color: #000036;
	margin: 0;
  }
  h1 {
	margin: 30px;
	font-family: "Lobster", cursive;
	text-shadow: 5px 0 #232931;
	font-size: 4.5rem;
	color: #4ecca3;
	text-align: center;
  }
  p {
	font-size: 2rem;
	color: #4ecca3;
	font-family: "Indie FLower", cursive;
  }
  img {
	width: 100%;
  }
  .bottom {
	padding-top: 30px;
  }

 /* button:disabled,
button[disabled]{

background-color: #332f2f;
color: #666666;
}
*/
  .butn {
	background: #4ecca3;
	font-family: "Indie FLower", cursive;
	border-radius: 7px;
	color: #ffff;
	font-size: 20px;
	width: 150px;
	text-decoration: none;
	height: 60px;
  }
  .butn:hover {
	background: #232931;
	text-decoration: none;
  }